@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", serif;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem;
    margin: auto;
}

nav {
    display: flex;
    place-content: center;
    gap: 1rem;
}

button {
    padding: 0.1rem 1rem;
    border: none;
    background-color: rgba(255, 255, 255, 0);
}

#content {
    display: flex;
    place-content: center;
}

.page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.homeimage {
    width: 100vw;
    height: 70vh;
    background-image: url(https://images.unsplash.com/photo-1625861910621-e9385ba1d993?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    place-content: center;
}

.homeheading {
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.244);
    width: 100vw;
    height: 70vh;
    place-content: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.homebutton {
    background-color: rgb(220, 33, 33);
    color: white;
    width: 12rem;
    height: 2rem;
    place-content: center;
    font-weight: 500;
    border-radius: 1rem;
}

.homebutton:hover {
    filter: brightness(115%);
}

.aboutheading {
    place-content: center;
    text-align: center;
}